.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: black;

}

.app-title {
    font-size: 25px;
    font-weight: normal;
    color: black;
    margin-top: 8px;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
}

.box {
    display: flex;
    background-color: var(--color);
    justify-content: center;
    align-items: center;
    padding: 35px;
    width: 80px;
    height: 80px;

    font-size: 25px;
    font-weight: bold;
    color: white;
}