.day18-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.day18-title {
    margin-top: 20px;
    font-size: 2rem;
}

.day18-subtitle {
    font-size: 1.1rem;
    margin-top: 8px;
}

.day18-details-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.day18-details {
    font-size: 1.1rem;
    margin: 20px;
    align-items: center;
}

.day18-result {
    font-size: 3rem;
    background-color: aqua;
    padding: 10px;
    overflow: hidden;
    border-radius: calc(3rem/2);
}